/* stjerneregel */
* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav {
  background-color: #64748b;
  padding: 1rem;
  font-family: quicksand;
  font-weight: bold;
}

/* nav liste */
ul {
  list-style: none;
}

ul a:link,
ul a:visited {
  color: white;
}

ul a:hover {
  color: black;
}

/*call to action knap*/
.calltoaction {
  display: block;
  width: 40%;
  font-size: 1em;
  padding: 20px;
  background-color: gray;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 20px;
  font-family: quicksand;
  font-weight: bolder;
  text-transform: uppercase;
}

figcaption {
  font-family: quicksand;
  font-style: italic;
  font-size: 12px;
}

/*links*/
a {
  text-decoration: none;
  color: black;
}

/* main */
main {
  margin: 1rem;
}

h1 {
  color: #2563eb;
  margin-bottom: 1rem;
  font-family: cormorant;
}

h2 {
  color: #06b6d4;
  margin: 1rem 0rem 1rem 0rem;
  font-family: cormorant;
}

img {
  margin: 1rem 0rem 1rem 0rem;
}

main p {
  margin-bottom: 2rem;
}

p {
  font-family: quicksand;
}

/* lister */
dt {
  font-weight: bold;
  padding: 1rem 0rem 0rem 0rem;
}

dl {
  font-family: quicksand;
  border: solid;
  border-color: #64748b;
  text-align: center;
  padding-bottom: 1rem;
}

/* footer */
header footer {
  width: 100%;
}

footer {
  background-color: #64748b;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  padding: 2rem;
}

footer a:link,
a:visited {
  color: white;
}

footer a:hover {
  color: black;
}
