/* stjerneregel */
* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: #f2ebe2;
}

header {
  background-color: #64748b;
}

/* nav-menu (liste) */
nav {
  padding: 1rem;
  font-family: quicksand;
  font-weight: lighter;
  text-transform: uppercase;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
}

ul a:link,
ul a:visited {
  color: white;
}

ul a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

/*centrer alt indhold*/
main {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem 0rem 1rem 0rem;
}

/*call to action knap*/
.calltoaction {
  display: block;
  padding: 12px 24px;
  font-family: cormorant;
  background-color: blue;
  color: #fff;
  border-radius: 20px;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  transition: 0.3s ease;
  width: 60%;
}

.calltoaction:hover {
  background-color: black;
}

figcaption {
  font-family: quicksand;
  font-style: italic;
  font-size: 12px;
  padding-bottom: 1rem;
}

/*links*/
a {
  text-decoration: none;
  color: black;
}

h1 {
  color: #2563eb;
  margin-bottom: 1rem;
  font-family: cormorant;
}

h2 {
  color: #06b6d4;
  margin: 1rem 0rem 1rem 0rem;
  font-family: cormorant;
}

h3 {
  font-size: 16px;
  padding-bottom: 0.5rem;
}

main p {
  margin-bottom: 2rem;
}

p {
  font-family: quicksand;
  font-size: 14px;
}

/* lister */
dt {
  font-weight: bold;
}

dl {
  font-family: quicksand;
  border: solid;
  border-color: #64748b;
  text-align: center;
  padding: 2rem;
}

/* footer */
header footer {
  width: 100%;
}

footer {
  background-color: #64748b;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  padding: 2rem;
  margin-top: 2rem;
}

footer a:link,
a:visited {
  color: white;
}

footer a:hover {
  color: black;
}
